/*** About ***/

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

.title {
  color: var(--color-white);
}

.about_wrap {
  width: 90%;
  margin-bottom: 5.2083vw;
  padding: 0 5%;
  overflow: hidden;
}

/* A: intro */

.about_intro {
  height: calc(100vh - 5vw);
  display: flex;
  justify-content: center;
}

.about_intro .about_intro_container {
  /* position: relative;
  height: 70vh; */
  margin: 4.1667vw 0;
}

.about_intro .about_intro_container .about_intro_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_intro .about_intro_container .about_intro_main .main_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 37.5vw;
  height: 37.5vw;
  margin: 0 auto 1.5625vw;
  border-radius: 50%;
  background-color: var(--color-point);
  animation: fadein 5s forwards;
}

.about_intro .about_intro_container .about_intro_main .main_txt span {
  font-size: 4.1667vw;
  font-family: "HeeboB";
  line-height: 4vw;
  color: var(--color-white);
}

.txt_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 26vw;
  letter-spacing: -0.2vw;
  animation: fadeleft 3s forwards;
}

.txt_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  width: 25.4vw;
  letter-spacing: -0.2vw;
  animation: faderight 3s forwards;
}

.about_intro .about_intro_container .about_intro_main .scroll_arrow {
  position: relative;
  margin-top: 0.4vw;
}

.about_intro .about_intro_container .about_intro_main .scroll_arrow span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.0417vw;
  height: 1.0417vw;
  margin-left: -0.502vw;
  border-left: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  transform: rotate(-45deg);
  animation: scroll 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

.about_intro
  .about_intro_container
  .about_intro_main
  .scroll_arrow
  span:nth-of-type(1) {
  animation-delay: 0s;
}
.about_intro
  .about_intro_container
  .about_intro_main
  .scroll_arrow
  span:nth-of-type(2) {
  top: 0.8vw;
  animation-delay: 0.15s;
}
.about_intro
  .about_intro_container
  .about_intro_main
  .scroll_arrow
  span:nth-of-type(3) {
  top: 1.6vw;
  animation-delay: 0.3s;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.about_intro_circle {
  position: relative;
}

.circle1 {
  position: absolute;
  top: 3.125vw;
  left: 7.2917vw;
  width: 12.5vw;
  height: 12.5vw;
  border-radius: 50%;
  background-color: var(--color-point);
  z-index: 1;
}

.circle2 {
  position: absolute;
  top: 1.0417vw;
  right: 15.1042vw;
  width: 6.25vw;
  height: 6.25vw;
  border-radius: 50%;
  background-color: var(--color-point);
  z-index: 1;
}

.circle3 {
  position: absolute;
  top: 11.9792vw;
  right: 2.6042vw;
  width: 3.6458vw;
  height: 3.6458vw;
  border-radius: 50%;
  background-color: var(--color-point);
  z-index: 1;
}
.circle4 {
  position: absolute;
  top: 32.1875vw;
  left: 20vw;
  width: 4.1667vw;
  height: 4.1667vw;
  border-radius: 50%;
  background-color: var(--color-point);
  z-index: 1;
}

.circle5 {
  position: absolute;
  top: 20.8333vw;
  right: 7.2917vw;
  width: 12.5vw;
  height: 12.5vw;
  border-radius: 50%;
  background-color: var(--color-point);
  z-index: 1;
}

.about_intro_bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7.8vw 0;
}

.about_intro_bg span {
  width: 80vw;
  font-family: "SpoqaHanSansNeoR";
  font-size: 7.8125vw;
  font-family: "HeeboB";
  line-height: 7vw;
  letter-spacing: -0.2vw;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-point);
  z-index: -1;
}

.about_intro_bg span:last-child {
  width: 60vw;
}

/* A: info */

.about_wrap .info {
  height: 100vh;
}

.about_wrap .info .info_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.about_wrap .info .info_container .info_content {
  width: 75%;
}
.about_wrap .info .info_container .info_content .personal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5vw;
  padding: 0.3vw 1.5vw;
  border-radius: 2vw;
  background: var(--color-point);
  color: var(--color-white);
  opacity: 0;
  transform: translateY(5vw);
}

.about_wrap .info .info_container .info_content .personal li {
  display: flex;
  align-items: center;
}

.about_wrap .info .info_container .info_content .personal .info_label {
  font-size: 1.25vw;
  margin-right: 1.0417vw;
  font-family: "HeeboB";
  float: left;
}

.about_wrap .info .info_container .info_content .personal .info_value {
  font-size: 1.0417vw;
  float: left;
}

.about_wrap .info .info_container .info_content .introduce {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_wrap .info .info_container .info_content .introduce .introduce_txt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about_wrap .info .info_container .info_content .introduce_txt div {
  width: 70%;
  font-size: 1.0417vw;
  line-height: 1.6vw;
  text-align: justify;
  padding: 1.25vw 0;
}

.about_wrap .info .info_container .info_content .introduce_txt div p {
  font-size: 1.0417vw;
  line-height: 1.6vw;
  text-align: justify;
  padding: 0.8vw 0;
}

.about_wrap .info .info_container .info_content .introduce_txt .txt1 {
  opacity: 0;
  transform: translateY(1vw);
}

.about_wrap .info .info_container .info_content .introduce_txt .txt2 {
  opacity: 0;
  transform: translateY(1vw);
}

.about_wrap .info .info_container .info_content .introduce_txt .txt3 {
  opacity: 0;
  transform: translateY(1vw);
}

.about_wrap .info .info_container .info_content .introduce_txt .info_circle1 {
  width: 15vw;
  height: 7.5vw;
  border-radius: 0 0 16vw 16vw;
  background-color: var(--color-point);
  margin: 0 auto;
  opacity: 0;
  transform: translateX(1vw);
}

.about_wrap .info .info_container .info_content .introduce_txt .info_circle2 {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: var(--color-point);
  margin: 0 auto;
  opacity: 0;
  transform: translateX(-1vw);
}

.about_wrap .info .info_container .info_content .introduce_txt .info_circle3 {
  width: 5vw;
  height: 10vw;
  border-radius: 0 12vw 12vw 0;
  background-color: var(--color-point);
  margin-left: 4.8vw;
  opacity: 0;
  transform: translateX(1vw);
}

.about_wrap .info .info_container .info_content .introduce_txt .info_circle4 {
  width: 5vw;
  height: 10vw;
  border-radius: 12vw 0 0 12vw;
  background-color: var(--color-point);
  opacity: 0;
  transform: translateX(1vw);
}

/* A: advantage */

.about_wrap .advantage {
  height: 100vh;
}

.about_wrap .advantage .advantage_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.advantage_content {
  position: relative;
}

.graph {
  position: relative;
  width: 25vw;
  height: 25vw;
  border: 1px solid var(--color-point);
  border-radius: 50%;
  margin: 4.5vw;
  opacity: 0;
}

.dot {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: var(--color-point);
}

.dot:nth-child(1) {
  position: absolute;
  top: -0.5vw;
  left: 12vw;
}

.dot:nth-child(2) {
  position: absolute;
  top: 8.5vw;
  right: 0;
}

.dot:nth-child(3) {
  position: absolute;
  top: 22vw;
  right: 4.4vw;
}

.dot:nth-child(4) {
  position: absolute;
  top: 22vw;
  left: 4.4vw;
}

.dot:nth-child(5) {
  position: absolute;
  top: 8.5vw;
  left: 0;
}

.stat {
  position: absolute;
  top: 0;
  left: 2vw;
  width: 20.8333vw;
  height: 22.0313vw;
  clip-path: polygon(50.5% 8%, 93% 43.5%, 80.5% 93%, 18% 98%, 5% 43%);
  background-color: var(--color-point);
}

.line1 {
  position: absolute;
  top: 1.25vw;
  left: 1.25vw;
  border: 1px solid var(--color-point);
  border-radius: 50%;
  width: 22.5vw;
  height: 22.5vw;
  opacity: 0.8;
}

.line2 {
  position: absolute;
  top: 2.5vw;
  left: 2.5vw;
  border: 1px solid var(--color-point);
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  opacity: 0.6;
}

.line3 {
  position: absolute;
  top: 3.75vw;
  left: 3.75vw;
  border: 1px solid var(--color-point);
  border-radius: 50%;
  width: 17.5vw;
  height: 17.5vw;
  opacity: 0.4;
}

.keyword {
  width: min-content;
  height: min-content;
  font-size: 1.25vw;
  font-family: "HeeboB";
  color: var(--color-white);
  border-radius: 10vw;
  padding: 0.2vw 1vw;
  background-color: var(--color-point);
}

.key1 {
  position: absolute;
  top: 1vw;
  left: 13.6vw;
  display: flex;
  flex-direction: row;
  opacity: 0;
  transform: translateX(2vw);
}

.key1 .keyword {
  margin-right: 0.8vw;
}

.key2 {
  position: absolute;
  top: 12.5vw;
  right: -16.5vw;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(2vw);
}

.key2 .keyword {
  margin-bottom: 0.8vw;
}

.key3 {
  position: absolute;
  top: 28.5vw;
  right: -10vw;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(2vw);
}

.key3 .keyword {
  margin-bottom: 0.8vw;
}

.key4 {
  position: absolute;
  top: 28.5vw;
  left: -10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  opacity: 0;
  transform: translateX(-2vw);
}

.key4 .keyword {
  margin-bottom: 0.8vw;
}

.key5 {
  position: absolute;
  top: 12.5vw;
  left: -16.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  opacity: 0;
  transform: translateX(-2vw);
}

.key5 .keyword {
  margin-bottom: 0.8vw;
}

.desc {
  width: 20vw;
  font-size: 0.9375vw;
  line-height: 1.3vw;
}

/* A-skill */

.skill .skill_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 82%;
  margin: 0 auto;
}

.skill_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2vw 0 0;
}

/* .skill .skill_container .skill_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.4167vw;
  height: 10.4167vw;
  border: 1px solid var(--color-point);
  border-radius: 50%;
} */

.html {
  opacity: 0;
  transform: translateY(2vw);
}
.css {
  opacity: 0;
  transform: translateY(2vw);
}
.js {
  opacity: 0;
  transform: translateY(2vw);
}
.react {
  opacity: 0;
  transform: translateY(2vw);
}
.ts {
  opacity: 0;
  transform: translateY(2vw);
}
.php {
  opacity: 0;
  transform: translateY(2vw);
}

.skill_item {
  --p: 20;

  width: 10.4167vw;
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  border-radius: 50%;
  font-size: 25px;
  font-family: "HeeboB";
  font-family: sans-serif;
  transition: all 0.5s;
  cursor: pointer;
}

.skill_item:before,
.skill_item:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid blue;
}

.skill_item:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--color-point) 98%, #0000)
      top/0.5vw 0.5vw no-repeat,
    conic-gradient(var(--color-point) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - 0.5vw),
    #000 calc(100% - 0.5vw)
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - 0.5vw),
    #000 calc(100% - 0.5vw)
  );
}

.skill_item:after {
  inset: calc(50% - 0.5vw / 2);
  background: var(--color-point);
  transform: rotate(calc(var(--p) * 3.6deg))
    translateY(calc(50% - 10.4167vw / 2));
}

.no-round:before {
  background-size: 0 0, auto;
}
.no-round:after {
  content: none;
}

.skill_item:hover {
  border-radius: 50%;
  background-color: var(--color-point);
  color: var(--color-white);
  transition: all 0.5s;
}

.skill .skill_container .skill_item .skill_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill .skill_container .skill_item .skill_txt .skill_label {
  font-size: 1.25vw;
  font-weight: 400;
  margin-top: 0.5vw;
}

.skill .skill_container .skill_item .skill_txt .skill_value {
  font-size: 2.5vw;
  font-family: "HeeboB";
  line-height: 3vw;
}

.skill .skill_desc_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  padding: 1.0417vw 2.5vw;
  margin-top: 4vw;
  border-radius: 100vw;
  background-color: var(--color-point);
  opacity: 0;
}

.skill_click {
  height: 2.8vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.5vw;
  font-family: "HeeboB";
  color: var(--color-white);
  transition: all 0.5s;
}

.skill .skill_desc_container .skill_desc {
  display: none;
}

.skill .skill_desc_container .skill_desc_active {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.skill .skill_desc span {
  flex-basis: 80%;
  font-size: 1.0417vw;
  line-height: 1.4vw;
  color: var(--color-white);
  transition: all 0.5s;
  animation: text 0.5s forwards;
}

.skill .skill_desc .skill_name {
  flex-basis: 25%;
  font-size: 1.5vw;
  text-align: center;
  font-family: "HeeboB";
  padding-right: 1.5vw;
}

@keyframes text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
