@font-face {
  font-family: "heeboL";
  src: url("../fonts/Heebo-Light.ttf");
}

@font-face {
  font-family: "heeboR";
  src: url("../fonts/Heebo-Regural.ttf");
}

@font-face {
  font-family: "heeboSB";
  src: url("../fonts/Heebo-SemiBold.ttf");
}

@font-face {
  font-family: "heeboB";
  src: url("../fonts/Heebo-Bold.ttf");
}
