/* @import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css); */

@font-face {
  font-family: "SpoqaHanSansNeoR";
  src: url("../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf")
    format("opentype");
  src: url("../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf")
    format("truetype");
  src: url("../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo/static/Heebo-Regular.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
