@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300&display=swap");

/* 
@font-face {
  font-family: "heeboL";
  src: url("../fonts/Heebo-Light.ttf");
}

@font-face {
  font-family: "heeboR";
  src: url("../fonts/Heebo-Regural.ttf");
}

@font-face {
  font-family: "heeboSB";
  src: url("../fonts/Heebo-SemiBold.ttf");
}

@font-face {
  font-family: "heeboB";
  src: url("../fonts/Heebo-Bold.ttf");
} */
