.gnb {
  position: fixed;
  transform: rotate(90deg);
  top: 58%;
  right: 5vw;
  z-index: 9999;
}

.gnb ul {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 1.0417vw;

  width: 16.5vw;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  border-radius: 10vw;
  /* padding: 0.5vw; */
  cursor: pointer;
}

.menu_icon {
  padding: 1.0417vw;
  border: 1px solid var(--color-point);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.menu_text {
  display: none;
}

.menu_active {
  color: var(--color-white);
  padding: 0 1.0417vw;
  background-color: var(--color-point);
}

.menu_active .menu_text {
  display: block;
  font-size: 1.0417vw;
  font-weight: 500;
}

.menu_active .menu_icon {
  display: none;
}

.gnb ul li {
  transition: all 0.5s;
}

.menu_selected {
  color: var(--color-white);
  padding: 0 1.0417vw;
  background-color: var(--color-point);
}

.menu_selected .menu_text {
  display: block;
  font-size: 1.0417vw;
  font-weight: 500;
}

.menu_selected .menu_icon {
  display: none;
  padding: 0vw;
}
