.hidden {
  display: none;
}

.loading {
  width: 100%;
  height: 100vh;
  background-color: var(--point-color);
  z-index: 9999;
}

.loading .welcome {
  width: 180px;
  height: 180px;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  top: 39.3%;
  left: 44.3%;
  /* -webkit-animation-name: spin;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; */
}

.spin {
  animation: spin 5s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Intro */

.intro_wrap {
  width: 90%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro_wrap .intro_object {
  width: 50%;
}

.intro_wrap .intro_object .intro_circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background: var(--point-color);
}

.intro_wrap .intro_object .intro_circle .intro_title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
}

.intro_wrap .intro_object .intro_circle .intro_title h1 {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -4px;
}

.intro_wrap .intro_object .intro_circle .intro_title h1:nth-child(2) {
  text-align: end;
}

.intro_wrap .intro_content {
  position: relative;

  display: flex;
  align-items: center;
  width: 40%;
  height: 80%;
}

.intro_wrap .intro_content .intro_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 80%;
}

.intro_wrap .intro_content .intro_text .intro_txt {
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -1px;
  font-weight: 400;
}

.intro_wrap .intro_content .intro_text .intro_txt:nth-child(1) {
  align-self: flex-end;
}

.intro_wrap .intro_content .intro_text .intro_txt:nth-child(3) {
  align-self: center;
}

.intro_wrap .intro_content .conversion_btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--point-color);
}

.intro_wrap .intro_content .conversion_btn span {
  margin-top: 10px;
}
.intro_wrap .intro_content .conversion_btn img {
  width: 30px;
  margin: 10px auto 0;
}
