.hidden {
  display: none;
}

.clear {
  clear: both;
}

.box {
  margin-bottom: 3.125rem;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: var(--point-color);
  z-index: 9999;
}

.loading .welcome {
  width: 180px;
  height: 180px;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  top: 39.3%;
  left: 44.3%;
  /* -webkit-animation-name: spin;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; */
}

.load {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading svg {
  width: 15vw;
}

.loading textPath {
  font-size: 4vw;
  fill: var(--white-color);
}

.spin {
  animation: spin 5s infinite linear;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes recoil {
  from {
    transform: translate(-92%, 0) rotate(0deg);
  }
  to {
    transform: translate(0, 0) rotate(345deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadetop {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes faderight {
  from {
    opacity: 0;
    transform: translate(50px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeleft {
  from {
    opacity: 0;
    transform: translate(-50px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.sa.show {
  opacity: 1;
  transform: none;
}

/* Intro */

.intro_wrap {
  width: 90%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro_wrap .intro_object {
  width: 50%;
}

.intro_wrap .intro_object .intro_circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background: var(--point-color);
  animation: fadein 5s forwards;
}

.intro_wrap .intro_object .intro_circle .intro_title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
}

.intro_wrap .intro_object .intro_circle .intro_title h1 {
  font-size: 4.1667vw;
  line-height: 4.1667vw;
  letter-spacing: -4px;
  animation: fadetop 3s forwards;
}

.intro_wrap .intro_object .intro_circle .intro_title h1:nth-child(2) {
  text-align: end;
}

.intro_wrap .intro_content {
  position: relative;

  display: flex;
  align-items: center;
  width: 40%;
  height: 80%;
}

.intro_wrap .intro_content .intro_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 50vh;
}

.intro_wrap .intro_content .intro_text .intro_txt {
  width: 19.5vw;
  font-size: 1.25vw;
  line-height: 1.25vw;
  letter-spacing: -1px;
  font-weight: 300;
}

.intro_wrap .intro_content .intro_text .intro_txt:nth-child(1) {
  align-self: flex-end;
  animation: faderight 3s forwards;
}

.intro_wrap .intro_content .intro_text .intro_txt:nth-child(2) {
  animation: fadeleft 3s forwards;
}

.intro_wrap .intro_content .intro_text .intro_txt:nth-child(3) {
  align-self: center;
  animation: faderight 3s forwards;
}

.intro_wrap .intro_content .conversion_btn {
  position: absolute;
  top: 17.8vw;
  right: 0;
  /* transform: translate(0, -50%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background: var(--point-color);
  animation: fadein 3s forwards;
  overflow: hidden;
}

.intro_wrap .intro_content .conversion_btn span {
  font-size: 0.8333vw;
  line-height: 1vw;
  margin-top: 10px;
}
.intro_wrap .intro_content .conversion_btn img {
  width: 30px;
  margin: 10px auto 0;
}

@keyframes conversion {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
    background-color: orangered;
  }
}

.intro_wrap .intro_content .conversion_btn:hover {
  animation: conversion 1s forwards;
}

/* Common */

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
  height: 5.2083vw;
  background: var(--point-color);
  overflow: hidden;
  margin-bottom: 3.125rem;
  white-space: nowrap;
}

.title h1 {
  font-size: 2.5vw;
  line-height: 5.5vw;
  letter-spacing: -1px;
  animation: marquee 38s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.link_container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
.link_container a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.2917vw;
  height: 2.6042vw;
  padding: 0 1vw;
  border: 1px solid var(--point-color);
  border-radius: 4.5vw;
  background: var(--point-color);
}

.link_container a ~ a {
  margin-left: 1.0417vw;
}

.link_container a span {
  font-size: 0.9375vw;
}

.link_container a img {
  width: 24px;
  height: 6.3px;
  padding-bottom: 0.5rem;
}

.sub_title {
  font-size: 2.0833vw;
  font-weight: bold;
  margin-bottom: 1.25vw;
}

/*** About ***/

/* #about {
  height: 100vh;
} */

.about_wrap {
  width: 90%;
  margin: 0 auto 5rem;
}

/* A-info */
.about_wrap .info .info_container {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
}
.about_wrap .info .info_container .info_content {
  flex-basis: 50%;
  flex-wrap: nowrap;
}
.about_wrap .info .info_container .info_content .introduce p {
  font-size: 1.0417vw;
  line-height: 1.35vw;
}

.about_wrap .info .info_container .info_content .personal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.9375vw;
}

.about_wrap .info .info_container .info_content .personal .info_label {
  font-size: 1.25vw;
  margin-right: 1.0417vw;
  font-weight: bold;
  float: left;
}

.about_wrap .info .info_container .info_content .personal .info_value {
  font-size: 1.0417vw;
  float: left;
}

.about_wrap .info .info_container .character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 35%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.about_wrap .info .info_container .character .char1 {
  align-self: flex-start;
  padding-left: 5rem;
}

.about_wrap .info .info_container .character .char2 {
  align-self: flex-end;
}

.about_wrap .info .info_container .character .char4 {
  align-self: flex-start;
}

.about_wrap .info .info_container .character .char5 {
  align-self: flex-end;
  padding-right: 5.5rem;
}

/* A-skill */
.skill_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.skill .skill_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.skill .skill_container .skill_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.4167vw;
  height: 10.4167vw;
  border: 1px solid var(--point-color);
  border-radius: 50%;
}

.skill .skill_container .skill_item ~ .skill_item {
  margin-left: 1.5rem;
}

.skill .skill_container .skill_item .skill_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill .skill_container .skill_item .skill_txt .skill_label {
  font-size: 1.25vw;
}

.skill .skill_container .skill_item .skill_txt .skill_value {
  font-size: 2.5vw;
  font-weight: bold;
  line-height: 3vw;
}
.skill .skill_container .skill_item .skill_txt .skill_value::after {
  content: "%";
}

.skill .skill_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.625vw;
  height: 3.0469vw;
  padding: 1.0417vw 2.5vw;
  margin-top: 2.5vw;
  border-radius: 100rem;
  background-color: var(--point-color);
}

.skill .skill_desc span {
  font-size: 1.0417vw;
  color: var(--white-color);
}

/* A-faq */
.faq .faq_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.faq .faq_container .faq_item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.faq .faq_container .faq_item button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: var(--white-color);
  font-size: 1rem;
  text-align: left;
}

.faq .faq_container .faq_item button .faq_btn {
  width: 20px;
  height: 20px;
  margin-right: 1.25rem;
  border: 1px solid var(--point-color);
  border-radius: 50%;
  background-color: none;

  cursor: pointer;
}

.faq .faq_container .faq_item button .faq_que {
  line-height: 1.3rem;
}

.faq .faq_container .faq_content {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 8rem;
  padding: 4% 0;
  background-color: var(--point-color);
  border-radius: 8rem;
}

.faq .faq_container .faq_content p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  line-height: 1.5rem;
  overflow: scroll;
}

/*** PROJECT ***/

/* #project {
  height: 100vh;
} */

.project_wrap {
  width: 90%;
  margin: 0 auto;
}

.project_container {
  margin-bottom: 5rem;
}

.slide_btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.0417vw;
}

.slide_btn li {
  width: 1.0417vw;
  height: 1.0417vw;
  border: 1px solid var(--point-color);
  border-radius: 50%;
  cursor: pointer;
}

.slide_btn li:hover {
  background-color: var(--point-color);
  transition: all 0.5s;
}

.slide_btn li ~ li {
  margin-left: 0.8vw;
}

/* P-frontend */

.project_container .project_content .project_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.project_container .project_content .project_detail .preview_container {
  position: relative;
  padding-left: 2%;
}

.preview {
  position: relative;
}

.project_container
  .project_content
  .project_detail
  .preview_container
  .preview
  .main_img {
  /* position: absolute;
  top: 11px;
  left: 11px; */
  width: 31.25vw;
  height: 31.25vw;
  border-radius: 50%;
  border: 3px solid var(--point-color);
  background: url(../images/project/script_project1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.preview svg {
  position: absolute;
  top: -6.2vw;
  left: -6.2vw;
  width: 44vw;
}

.preview textPath {
  font-size: 0.8vw;
  fill: var(--white-color);
}

.project_container .project_content .project_detail .preview_container .check {
  position: absolute;
  top: 43%;
  left: -18%;
  width: 15.625vw;
  height: 15.625vw;
  transform: rotate(-15deg);
  border: 5px solid var(--point-color);
  border-radius: 50%;
  background-color: var(--point-color);
  background: url(../images/project/script_project1_cp.png) no-repeat;
  background-size: cover;
  background-position: center;
  animation: recoil 0.5s forwards;
}

.project_container .project_content .project_detail .detail_container {
  display: flex;
  flex-direction: column;
  width: 45%;
  /* height: 28.75rem; */
  height: 80%;
  border: 1px solid var(--point-color);
}

.project_container
  .project_content
  .project_detail
  .detail_container
  .project_description {
  /* height: 10.625rem; */
  padding: 1.875vw;
  border-bottom: 1px solid var(--point-color);
}

.project_container
  .project_content
  .project_detail
  .detail_container
  .project_about {
  padding: 1.875vw 1.875vw 2.2vw;
}

.text_title {
  color: var(--white-color);
  font-size: 1.4583vw;
  font-weight: bold;
  margin-bottom: 1.25rem;
  text-align: left;
}

.project_about_content ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}

.project_about_content ul li {
  display: flex;
  justify-content: flex-start;
}

.project_container
  .project_content
  .project_detail
  .detail_container
  .project_label {
  width: 28%;
  font-size: 1.1458vw;
  font-weight: bold;
}

.project_value {
  font-size: 1.0417vw;
  line-height: 1.5vw;
}

.project_container
  .project_content
  .project_detail
  .detail_container
  .project_about
  button {
  position: relative;
  width: 100%;
  display: flex;
  font-family: "Heebo";
  font-size: 1.5rem;
  font-weight: bold;
}

.project_container
  .project_content
  .project_detail
  .detail_container
  .project_icon {
  display: inline-block;
  position: absolute;
  top: 0.2rem;
  right: 5%;
}

.project_container
  .project_content
  .project_detail
  .detail_container
  .project_icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 0.6rem;
  left: 0;
  width: 20px;
  height: 1px;
  background-color: var(--white-color);
}

.project_container
  .project_content
  .project_detail
  .detail_container
  .project_icon::after {
  display: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0.6rem;
  width: 1px;
  height: 20px;
  background-color: var(--white-color);
}

.project_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.project_container_script .project_content {
  flex-basis: 48%;
}

/* .project_container_script
  .project_content
  .project_detail
  .preview_container
  .preview
  .main_img {
  width: 28vw;
  height: 28vw;
      border: 3px solid var(--point-color);
  border-radius: 50%;
} */

.script_img1 {
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  border: 3px solid var(--point-color);
  background: url(../images/project/script_project1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.script_img2 {
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  border: 3px solid var(--point-color);
  background: url(../images/project/script_project2.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.script_img3 {
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  border: 3px solid var(--point-color);
  background: var(--point-color);
  background-size: cover;
  background-position: center;
}

.script_img4 {
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  border: 3px solid var(--point-color);
  background: var(--point-color);
  background-size: cover;
  background-position: center;
}

.project_container_script .preview svg {
  position: absolute;
  top: -5.3vw;
  left: -5.3vw;
  width: 39vw;
}

.project_container_script .preview textPath {
  font-size: 0.8vw;
  fill: var(--white-color);
}

.project_container_script .project_content .project_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_container_script .project_content .project_detail .detail_container {
  padding: 30px;
  width: 80%;
}

.project_container_script
  .project_content
  .project_detail
  .detail_container
  .project_description
  .project_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.0417vw;
}

.project_container_script
  .project_content
  .project_detail
  .detail_container
  .project_description
  .project_name
  .text_title {
  margin: 0;
}

.project_container_script
  .project_content
  .project_detail
  .detail_container
  .project_description
  .project_value {
  height: 4.5vw;
  font-size: 1.0417vw;
  line-height: 1.5vw;
}

.view_btn {
  position: relative;
  overflow: hidden;
  width: max-content;
  /* height: 2.2vw;
  line-height: 2.3vw; */
  padding: 0.4vw 1.0417vw 0.3vw;
  border-radius: 10rem;
  background-color: var(--point-color);
  cursor: pointer;
}

.view_btn a {
  position: relative;
  left: 0;
  transition: all 0.3s ease-Out;
  font-size: 0.9375vw;
  font-weight: bold;
}

.view_btn .view_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.6vw;
  right: -6.5104vw;
  transition: all 0.3s ease-Out;
}

.view_btn .view_arrow img {
  width: 2.4vw;
}

.view_btn:hover a {
  left: -6.5104vw;
}
.view_btn:hover .view_arrow {
  right: 1.95vw;
}

/*** CONTACT ***/

/* #contact {
  height: 100vh;
} */
.contact_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.contact_wrap .comment .comment_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact_wrap .comment legend {
  width: 100%;
}

.contact_wrap .comment .input_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 65.5vw;
  border: 1px solid var(--point-color);
}

.contact_wrap .comment .input_box span {
  font-size: 1.25vw;
  font-weight: bold;
  align-items: center;
  padding-top: 1vw;
  padding-left: 1.25vw;
}

.contact_wrap .comment .input_box input {
  color: #eee;
  font-size: 1vw;
  line-height: 1.25vw;
}

.contact_wrap .comment .input_box input:focus {
  outline: none;
}

.comment_name {
  width: 20%;
  padding: 1.25vw;
  border-right: 1px solid var(--point-color);
}

.comment_text {
  width: 70%;
  padding: 1.25vw;
}

.comment_btn {
  height: 2.5rem;
  padding: 0.625rem 2rem 0.875rem;
  border-radius: 10rem;
  background-color: var(--point-color);
  margin-left: 1.25rem;
}

.comment_btn img {
  width: 24px;
}

.comment_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.comt {
  width: 16vw;
  height: 6.25vw;
  margin-top: 2.5vw;
  background-color: var(--point-color);
}

.contact .email_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 9.375vw;
  height: 9.375vw;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--point-color);
}

.contact .email_btn img {
  width: 30px;
  margin: 10px auto 0;
}
