:root {
  --black-color: #101010;
  --white-color: #ffffff;
  --point-color: #2f2fff;
}

body,
header,
main,
footer,
section,
div,
nav,
ul,
li,
p,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
textarea,
button,
input,
label {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: var(--white-color);
  background: var(--black-color);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
