:root {
  --color-black: #101010;
  --color-white: #ffffff;
  --color-point: #2f2fff;
}

body,
header,
main,
footer,
section,
div,
nav,
ul,
li,
p,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
textarea,
button,
input,
label {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.8333vw;
  font-family: "Heebo", "SpoqaHanSansNeoR", sans-serif;
  color: var(--color-white);
  background: var(--color-black);
}

ul,
li {
  list-style: none;
}

p {
  font-size: 0.8333vw;
  font-family: "Heebo", "SpoqaHanSansNeoR", sans-serif;
}

a {
  font-size: 0.8333vw;
  font-family: "Heebo", "SpoqaHanSansNeoR", sans-serif;
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

fieldset,
input {
  border: none;
  background: none;
}
